<footer class="footer">
    <!-- icons by  Dave Gandy - Flaticon -->
    <a href="https://twitter.com/JeanFrancoisB7"><img class="footer__icon" src="images/twitter.webp" alt="Twitter icon"></a>
    <a href="https://github.com/JeanBarry"><img class="footer__icon" src="images/github.webp" alt="Github icon"></a>
    <a href="https://jeanbarry.dev/"><img class="footer__icon" src="images/website.webp" alt="Code icon"></a>
</footer>
<script src="index.js"></script>
<script src="style.js"></script>
</body>
</html>